{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#f5f5f5">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Wasf.png' %}" alt="WASF Logo" href="https://waisf.org" padding-right="25px" padding-bottom="40px" width="150px" align="right" />
    <mj-text font-size="24px" font-weight="bold" color="#323232" padding-bottom="16px">
    Your Two-Factor Authentication (2FA) has been disabled
    </mj-text>
    <mj-text font-size="16px" color="#323232" padding-bottom="16px">
    Two-Factor Authentication (2FA) for your WASF Certificates account was just <b>disabled</b>. Your account is now protected by your password only.
    </mj-text>
    <mj-text font-size="16px" color="#323232" font-weight="bold" padding-bottom="8px">
    If you didn't make this change yourself, someone else may have gained access to your account. Please act immediately:
    </mj-text>
    <mj-text font-size="16px" color="#323232" padding-bottom="24px">
    1. Change your password right away under Account → My Account.
    <br />
    2. Re-enable Two-Factor Authentication.
    <br />
    3. Contact our support team if you need further help: <a href="mailto:support@waisf.org">support@waisf.org</a>
    </mj-text>
    <mj-text font-size="16px" color="#323232">
    Best regards,
    <br />
    the WASF Team
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button %}
{% endblock button %}
{% block footer %}
{% endblock footer %}
{% endmjml %}
