{% extends "email/base.html" %}
{% load i18n %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-text font-size="32px" font-weight="bold">
    Please confirm your additional email address.
    </mj-text>
    <mj-text>
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
      A {{ site_name }} user has requested to add this email address to their account, or to use it in a
      connected application. Once confirmed, you'll be able to upload badges issued for this email address
      to your {{ site_name }} account, or use it with connected applications.
      {% endblocktrans %}
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button_url %}
    {{ activate_url }}
{% endblock button_url %}
{% block button_alt_link %}
    <a href="{{ activate_url }}">{{ activate_url }}</a>
{% endblock button_alt_link %}
{% block button_text %}
    Confirm now
{% endblock button_text %}
{% endmjml %}
