{% extends "email/base.html" %}
{% load static %}
{% load i18n %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Wasf.png' %}" alt="WASF Logo" href="https://waisf.org" padding-left="25px" padding-bottom="60px" width="150px" height="77px" align="left" />
    <mj-text font-size="32px" color="#6b3ea5" line-height="115%">
    {% blocktrans with site_name=site.name site_domain=site.domain %}
      <span style="color: #323232">Welcome to</span><br> <b>WASF Certificates.</b>
    {% endblocktrans %}
    </mj-text>
    <mj-text>
    {% blocktrans with site_name=site.name site_domain=site.domain %}
      Please confirm your account to <b>collect</b>, <b>create</b>, and <b>issue</b> badges.
    {% endblocktrans %}
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button_url %}
    {{ activate_url }}
{% endblock button_url %}
{% block button_alt_link %}
    <a href="{{ activate_url }}">{{ activate_url }}</a>
{% endblock button_alt_link %}
{% block button_text %}
    Confirm my account
{% endblock button_text %}
{% endmjml %}
