{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Wasf.png' %}" alt="WASF Logo" href="https://waisf.org" padding-left="25px" padding-bottom="60px" width="150px" height="77px" align="left" />
    <mj-text font-size="32px" font-weight="bold" padding-bottom="25px">
    <span style="text-transform:capitalize;">QR code requests for your badge</span>
    </mj-text>
    <mj-text color="#6b3ea5" padding-bottom="20px">
    You have {{ number_of_open_requests }} open QR code request(s) for your badge <b>{{ badge_name }}</b>.
    </mj-text>
    <mj-text>
    Confirm the requests on WASF Certificates using the button below:
    </mj-text>
    <mj-button href="{{ activate_url }}">
    {{ call_to_action_label }}
    </mj-button>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button %}
{% endblock button %}
{% endmjml %}
