{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Wasf.png' %}" alt="WASF Logo" href="https://waisf.org" padding-left="25px" padding-bottom="60px" width="150px" height="77px" align="left" />
    <mj-text font-size="32px" color="#6b3ea5">
    <span class="text-transform: capitalize;">Your membership request has been confirmed</span>
    </mj-text>
    <mj-text>
    <span style="font-weight: bold;">{{ issuer.name }}</span> has added you as a member.
    </mj-text>
    <mj-text>
    You can now issue badges on behalf of this institution.
    <br />
    Enjoy WASF Certificates!
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button_url %}
    {{ activate_url }}
{% endblock button_url %}
{% block button_alt_link %}
    <a href="{{ activate_url }}">{{ activate_url }}</a>
{% endblock button_alt_link %}
{% block button_text %}
    {{ call_to_action_label }}
{% endblock button_text %}
{% endmjml %}
