{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section>
        <mj-column>
            <mj-image src="{% static '/images/Logo-Wasf.png' %}" alt="WASF Logo" href="https://waisf.org" padding-right="25px" width="150px" height="77px" align="right" />
            <mj-text font-size="20px">
                {{name}} ({{ email }}) would like to upgrade institution {{ issuer }} to {{ quota }}.
            </mj-text>
        </mj-column>
    </mj-section>
{% endblock main %}
{% block button %}
{% endblock button %}
{% endmjml %}
