{% load account %}
{% load static %}
{% load i18n %}
{% load mjml %}
{% get_current_language as LANGUAGE_CODE %}
{% mjml %}
<mjml lang="{{ LANGUAGE_CODE }}">
<mj-head>
<mj-raw>
<meta charset="UTF-8">
</mj-raw>
<mj-title>
{% firstof email_title 'openbadges.education' %}
</mj-title>
<mj-font name="Rubik" href="{% static '/fonts/Rubik.css' %}" />
<mj-attributes>
<mj-all font-family="Rubik, 'Open Sans', sans-serif" font-size="16px" line-height="115%" />
<mj-button background-color="#492e98" color="#ffffff" border-radius="10px" font-weight="bold" padding="16px 32px" />
<mj-section padding="32px 16px" />
</mj-attributes>
<mj-style>
a {
color: #1400FF;
}
</mj-style>
</mj-head>
<mj-body background-color="#ffffff">
<mj-wrapper background-color="#f3f3f3" border-left="1px solid #dbd8df" border-right="1px solid #dbd8df" padding="0">
{% block main %}
    <mj-section background-color="#ffffff">
    </mj-section>
{% endblock main %}
{% block button %}
    <mj-section background-color="#ecfeed">
    <mj-column>
    <mj-button background-color="#492e98" color="#ffffff" href="
    {% block button_url %}
    {% endblock button_url %}
    ">
    {% block button_text %}
    {% endblock button_text %}
    </mj-button>
    <mj-text color="#323232" font-size="12px" align="center">
    Alternativ kannst du diesen Link kopieren und in deinen Browser einfügen:
    <br />
    <b>
        {% block button_alt_link %}
        {% endblock button_alt_link %}
    </b>
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock button %}
{% block footer %}
    <mj-section background-color="#f5f5f5" border-top="1px solid #dbd8df">
    <mj-group>
    <mj-column width="40%" vertical-align="middle">
    <mj-image src="{% static '/images/logo-square.png' %}" href="https://openbadges.education" width="80px" height="80px" align="center" />
    </mj-column>
    <mj-column width="60%" vertical-align="middle">
    <mj-text padding-bottom="0">Du hast Fragen?</mj-text>
    <mj-text padding-top="0" color="#1400ff" font-weight="bold" text-decoration="underline">
    <a href="https://openbadges.education/public/faq">Hier geht es zu unseren FAQ.</a>
    </mj-text>
    </mj-column>
    </mj-group>
    </mj-section>
{% endblock footer %}
</mj-wrapper>
</mj-body>
</mjml>
{% endmjml %}
