{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Wasf.png' %}" alt="WASF Logo" href="https://waisf.org" padding-left="25px" padding-bottom="60px" width="150px" height="77px" align="left" />
    <mj-text font-size="32px" font-weight="bold" padding-bottom="25px">
    <span style="text-transform:capitalize;">Network Update</span>
    </mj-text>
    <mj-text>
    Your institution {{ issuer.name }} has been removed from the network <span style="font-weight: bold;">{{ network.name }}</span>.
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button %}
{% endblock button %}
{% endmjml %}
