{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Wasf.png' %}" alt="WASF Logo" href="https://waisf.org" padding-left="25px" padding-bottom="60px" width="150px" height="77px" align="left" />
    <mj-text font-size="32px" font-weight="bold" padding-bottom="25px">
    Your institution <span style="text-transform: uppercase;">{{ issuer_name }}</span> has been verified!
    </mj-text>
    <mj-text>
    You can get started right away <span style="font-weight: 600;">creating and issuing badges.</span>
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button_text %}
    Go to WASF Certificates
{% endblock button_text %}
{% block button_url %}
    https://cert.waisf.org/auth/login
{% endblock button_url %}
{% block button_alt_link %}
    <a href="https://cert.waisf.org/auth/login">https://cert.waisf.org/auth/login</a>
{% endblock button_alt_link %}
{% endmjml %}
