{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Wasf.png' %}" alt="WASF Logo" href="https://waisf.org" padding-left="25px" padding-bottom="60px" width="150px" height="77px" align="left" />
    <mj-text font-size="32px" font-weight="bold" padding-bottom="25px">
    <span style="text-transform:capitalize;">Verify your institution</span>
    </mj-text>
    <mj-text>
    Great that you've created your institution <span style="font-weight: 500;">{{ issuer_name }}</span> on WASF Certificates!
    </mj-text>
    <mj-text color="#6b3ea5" font-style="italic">
    Unfortunately we couldn't verify it automatically, because the email address used doesn't match the domain of the website provided.
    </mj-text>
    <mj-text font-weight="500">
    Here's how you can complete verification:
    </mj-text>
    <mj-text padding-left="32px">
    • Add the institution's official email address to your account, or
    <br />
    • reply to <a href="mailto:support@waisf.org">support@waisf.org</a> with your name, a link to your organization's website, and a brief confirmation of your affiliation.
    </mj-text>
    <mj-text>We're happy to help if you have questions.</mj-text>
    <mj-text>Best regards,
    <br />
    the WASF Team</mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button %}
{% endblock button %}
{% endmjml %}
