{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Wasf.png' %}" alt="WASF Logo" href="https://waisf.org" padding-left="25px" padding-bottom="60px" width="150px" height="77px" align="left" />
    <mj-text font-size="32px" font-weight="bold" padding-bottom="25px">
    <span style="text-transform:capitalize;">A new institution needs verification!</span>
    </mj-text>
    <mj-text>
    Hello admins,
    a new institution "{{ issuer_name }}" was created.
    Please verify it.
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button_url %}
    {{ HTTP_ORIGIN }}/staff/issuer/issuer/
{% endblock button_url %}
{% block button_text %}
    Go to Verification
{% endblock button_text %}
{% block button_alt_link %}
    <a href="{{ HTTP_ORIGIN }}/staff/issuer/issuer/">{{ HTTP_ORIGIN }}/staff/issuer/issuer/</a>
{% endblock button_alt_link %}
{% endmjml %}
