{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Wasf.png' %}" alt="WASF Logo" href="https://waisf.org" padding-left="25px" padding-bottom="60px" width="150px" height="77px" align="left" />
    <mj-text font-size="32px" font-weight="bold" padding-bottom="25px">
    <span style="text-transform:capitalize;">Network Invitation</span>
    </mj-text>
    <mj-text color="#6b3ea5">
    Your institution {{ issuer.name }} has been invited to the network <span style="font-weight: bold;">{{ network.name }}</span>.
    </mj-text>
    <mj-text>
    Please confirm the request on WASF Certificates using the button below.
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button_url %}
    {{ activate_url }}
{% endblock button_url %}
{% block button_alt_link %}
    <a href="{{ activate_url }}">{{ activate_url }}</a>
{% endblock button_alt_link %}
{% block button_text %}
    {{ call_to_action_label }}
{% endblock button_text %}
{% endmjml %}
